
<app-navbar></app-navbar>

<form (ngSubmit)="onSubmit()" [formGroup]="customerForm" class="user-form">
  <div class="form-group">
    <label for="userId">Name:</label>
    <input
      type="text"
      id="name"
      [(ngModel)]="customer.name"
      formControlName="name"
      class="form-control"
    />
    <input
      type="hidden"
      id="customerId"
      [(ngModel)]="customer.customerId"
      formControlName="customerId"
      class="form-control"
    />
    
  </div>
  <div class="form-group">
    <label for="email">Email:</label>
    <input
      type="email"
      id="email"
      formControlName="email"
      [(ngModel)]="customer.email" 
      class="form-control"
    />
   
  </div>
  <div class="form-group">
    <label for="username">User Name</label>
    <input
    type="text"
    id="username"
    [(ngModel)]="customer.username"
    formControlName="username"
    class="form-control"
  />
  <div class="form-group">
    <label for="password">Password</label>
    <input
    type="text"
    id="password"
    
    formControlName="password"
    class="form-control"
  />
  </div>
 
  <div class="form-group">
    <label for="role">Role:</label>
    <select formControlName="role" class="form-control" [(ngModel)]="customer.role" >
      <option value="USER" *ngIf="customer.role=='USER' ? 'selected' : ''">User</option>
      <option value="ADMIN" *ngIf="customer.role=='ADMIN' ? 'selected' : ''">Admin</option>
    </select>
  </div>
  </div>

  <button type="submit" class="btn-submit">Update Customer</button>

  <ng-container>
    <div *ngIf="customerError$ | async as error" class="error">
      {{ error }}
    </div>
    <div *ngIf="customerSuccess$ | async as msg" class="success">
      {{ msg }}
    </div>
  </ng-container>

  <a routerLink="/bank" class="task-list" class="task-list">Dashboard</a>
</form>
