<app-navbar></app-navbar>

<form (ngSubmit)="onSubmit()" [formGroup]="accountForm" class="user-form">
  <div class="form-group">
    <label for="userId">Customer:</label>
    <select formControlName="customer" (change)="changedVal()" [(ngModel)]="selectedValue">
      <option value="">Select a Customer</option>
      <option *ngFor="let customer of customers$ | async" [ngValue]="customer" >
        {{ customer.name }}
      </option>
    </select>
  </div>
  
  <div class="form-group">
    <label for="balance">Balance:</label>
    <input
      type="text"
      formControlName="balance"
      class="form-control"
    />
    <input
      type="hidden"
      formControlName="accountId"
      class="form-control"
    />
  </div>

  <button type="submit" class="btn-submit">Update Account</button>

  <ng-container>
    <div *ngIf="accountError$ | async as error" class="error">
      {{ error }}
    </div>
    <div *ngIf="accountSuccess$ | async as msg" class="success">
      {{ msg }}
    </div>
  </ng-container>

  <a routerLink="/bank" class="task-list">Dashboard</a>
</form>
