<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
    <label>
      Username:
      <input type="text" formControlName="username" />
      <p
        class="error"
        *ngIf="
          loginForm.controls['username']['touched'] &&
          loginForm.controls['username'].errors &&
          loginForm.controls['username'].errors['required']
        "
      >
      Username is required
      </p>
    </label>
  
    <label>
      Password:
      <input type="password" formControlName="password" />
      <p
        class="error"
        *ngIf="
          loginForm.controls['password']['touched'] &&
          loginForm.controls['password'].errors &&
          loginForm.controls['password'].errors['required']
        "
      >
        Password is required
      </p>
    </label>
  
   
  
    <button type="submit">Log in</button>
      <a routerLink="/auth/add-user" class="task-list" class="task-list"
      >Sign up</a
    >
  
    <div *ngIf="loginError$ | async as error" class="error">
      {{ error.message }}
    </div>
  </form>
  