
<form (ngSubmit)="onSubmit()" [formGroup]="customerForm" class="user-form">
    <div class="form-group">
      <label for="userId">Name:</label>
      <input type="text" id="name" formControlName="name" class="form-control">
      <!-- <div *ngIf="customerForm.get('name')?.hasError('required') && customerForm.get('name')?.touched && customerForm.get('name')?.dirty">
          Name is required
      </div> -->
      </div>
    <div class="form-group">
      <label for="userId">Email:</label>
      <input type="email" id="email" formControlName="email" class="form-control">
      <!-- <div *ngIf="customerForm.get('email')?.hasError('required') && customerForm.get('email')?.touched && customerForm.get('email')?.dirty">
          Email is required
      </div> -->
    </div>
    <div class="form-group">
      <label for="userId">User Name:</label>
      <input type="text" id="username" formControlName="username" class="form-control">
      <!-- <div *ngIf="customerForm.get('username')?.hasError('required') && customerForm.get('username')?.touched && customerForm.get('username')?.dirty">
          Username is required
      </div> -->
    </div>
    <div class="form-group">
      <label for="userId">Password:</label>
      <input type="text" id="password" formControlName="password" class="form-control">
      <!-- <div *ngIf="customerForm.get('password')?.hasError('required') && customerForm.get('password')?.touched && customerForm.get('password')?.dirty">
          Password is required
      </div> -->
    </div>
    <button type="submit" class="btn-submit">Create Customer</button>
  
    <ng-container>
      <div *ngIf="customerError$ | async as error" class="error">
        {{ error }}
      </div>
      <div *ngIf="customerSuccess$ | async as msg" class="success">
        {{ msg }}
      </div>
    </ng-container>
  
     <a [routerLink]="['/bank']" class="task-list">Dashboard</a> 
  </form>
  
  
  
  
  
  